.root {
    -fx-background-color: #D0AF89;
    -fx-border-color: #823;
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

#lLoginStatus {
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}

#mainMenuContainer .menu-button {
    -fx-cursor: pointer;
    -fx-background-color: #fac489;
}

#mainMenuContainer .menu-button:hover, #mainMenuContainer {
    -fx-background-color: #fcecc4;
}

#mainMenuContainer .menu-active {
    -fx-background-color: #fcecc4 !important;
}

.person-row-banned {
    -fx-background-color: #faa !important;
    -fx-font-family: monospace !important;
    -fx-font-style: italic !important;
}

.person-row-staff {
    -fx-background-color: #aaf !important;
}

.person-row-self {
    -fx-background-color: #8d8 !important;
    -fx-font-style: italic !important;
}

.prototype-placeholder-label {
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 24px;
    -fx-text-fill: #d55;
    -fx-border-width: 2px;
    -fx-border-color: #d55;
    -fx-background-color: #aaa;
}